@import '_colors'; 

.text-center {
  text-align: center;  
}

.btn-block{
  width: 100%; 
}

.btn {
  background-color: $primary;
  &:hover{ 
    background-color: $secondary; 
  }
}

.input-field input[type=text]:focus + label {
  color: $primary;
}

.input-field input[type=password]:focus + label {
  color: $primary;
}

input[type=text] {
  &:focus:not([readonly]) {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 $primary;
  } 
}

input[type=password] {
  &:focus:not([readonly]) {
    border-bottom: 1px solid $primary;
    box-shadow: 0 1px 0 0 $primary;
  } 
}

.waves-effect.waves-light{
  background-color: $primary;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $primary;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}
